// APP WIDE VARIABLES
$font_family: sans-serif;

// COLORS
$black: #000000;
$white: #fafafa;
$grey: #a8a8a8;

// SPACING VARIABLES
$space_xxs: 0.8rem;
$space_xs: 1.6rem;
$space_s: 2.4rem;
$space_m: 3.2rem;
$space_l: 4rem;
$space_xl: 6.4rem;
$space_xxl: 12.8rem;

$radius_s: 0.4rem;
$radius_m: 1.2rem;
$radius_l: 1.6rem;

$border_m: 0.4rem solid;
$border_l: 0.8rem solid;
