// APP WIDE VARIABLES
$default_font: Nunito, sans-serif;

// COLORS
$black: #000000;
$white: #fafafa;
$grey: #a8a8a8;

$primary: #89937c;
$primary_dark: #585f4e;

$secondary: #414073;

$warning: #d8cb6f;
$warning_dark: #b8a932;

$info: #b9e6ff;
$info_dark: #33b4ff;

$danger: #d98292;
$danger_dark: #c33c54;

// SPACING VARIABLES
$space_xxs: 0.25rem;
$space_xs: 0.5rem;
$space_s: 0.75rem;
$space_m: 1rem;
$space_l: 1.5rem;
$space_xl: 2rem;

$radius_s: 0.4rem;
$radius_m: 1.2rem;
$radius_l: 1.6rem;

$border_m: 0.4rem solid;
$border_l: 0.8rem solid;
